#header{
    width: 500px;
    margin-top: 50px;
    margin-left:  1000px;
    color: darkorchid;
    font-size: 28px;
    border: 1px solid black;
    text-align: center;
    font-family: 'Calibri' ,sans-serif;

}